@model List<Shop.Models.CartItem>

<div class="cart">
    <p>
        <span>Cart: </span>
        <div id="dd" class="wrapper-dropdown-2">
            @Model.Count sản phẩm 
            
        </div>
    </p>
</div>